body{
    background-color: aqua;
    text-align: center;
}

#arrow{

    position:absolute;
    bottom: -10px;
    left: 10px;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    width: 20px;
    height: 20px;


}



table, th, td {
    border: 1px solid black;
    text-align: center;
    background-color: wheat;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    margin-top: 20px;

}
#header{

    font-family:fantasy;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 300px;
    font-size: 30px;
    margin-top: 20px;


}
#container{

    width: 700px;
    margin-left: auto;
    margin-right: auto;

}
.buttons{
    width: 50%;
    float: left;


}
.buttons > a > *{
    background-color: chocolate;
    height: 40px;
    width: 200px;
    font-size: 20px;
    font-weight: 600;
     clear: both;

}
#buttonContainer:last-child > *:last-child > a > *{

    background-color: blue;
}
#buttonContainer{

    margin-top: 20px;
    width: 700px;

}

#createInvoiceContainer{

    position: relative;
    margin-top: 20px;
    width: 400px;
    border: 10px solid black;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color:bisque;
}

.form-invoice{

    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    display:flex;
    flex-direction:column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.form-invoice > input {

    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
input{
    margin-top: 10px;
    border-radius: 10px;
}

label{
    display:flex;
    flex-direction:column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#button-submit > *{

    font-size: 25px;
    height: 30px;
    margin-bottom: 20px;
}
