body{
    background-color: aqua;
    text-align: center;
}
.error{
    margin-top: 20px;
    color: red;
    font-size: 30px;
}

#container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 300px;
    height: 300px;
    border: 10px solid black;
    border-radius: 20px;
    text-align: center;

}
#arrow{
    position:absolute;
    bottom: -10px;
    left: 10px;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    width: 20px;
    height: 20px;

}

#header{

    font-family:fantasy;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 300px;
    font-size: 30px;
    margin-top: 20px;

}
.buttons{

    display: flex;
    align-items: center;
    height: 146px;
    width:300px;
    height: 150;
    background-color:blueviolet;

}
.buttons > *{

    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-size: 30px;

}
.buttons:first-child{

     border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.buttons:last-child{

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: darkmagenta;
    border-top: 8px black solid;

}
.buttons:hover{
    background-color: chocolate;
}
label,input{

    display: block;
    padding: 5px;

    margin-left: auto;
    margin-right: auto;
}
.form{

    font-family: cursive;
    background-color: bisque;
    height: 100px;
}

.form > input{

    opacity: 0.5;
    border: 3px green solid;
    border-radius: 6px;
}
.form:first-child{

    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.form:last-child{

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}
#login{
     display:;
    align-items: center;
}

.form-registration{

    font-family: cursive;
    background-color: bisque;
    text-align: center;

    height: 60px;
}
.form-registration > input{

    opacity: 0.5;
    border: 3px green solid;
    border-radius: 6px;
}
.form-registration:first-child{

    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
#button-submit{

    display: flex;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.form-registration > label{
    padding: 5px;
}
