<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="viewport">

    <link th:href="@{/css/invoicesStyles.css}" rel="stylesheet">

    <title>InvoiceDB</title>

</head>
<body>

<div id="header">Create invoice</div>

<form th:action="@{/create-invoice}" method="post" th:object="${newInvoice}">
<div id="createInvoiceContainer">

    <div class="form-invoice">

        <label>Date</label>
        <input type="text" th:field="*{date}"/>

    </div>

    <div class="form-invoice">

        <label>Invoice number</label>
        <input type=text th:field="*{invoiceNumber}"/>

    </div>

    <div  class="form-invoice">

        <label>Contractor</label>
        <input type="text" th:field="*{contractor}"/>

    </div>

    <div class="form-invoice">

        <label>Description</label>
        <input type="text" th:field="*{description}"/>

    </div>

    <div class="form-invoice">

        <label>Amount</label>
        <input type="text" th:field="*{amount}"/>

    </div>

    <div class="form-invoice">

        <label>Payment time</label>
        <input type="text" th:field="*{paymentTime}"/>

    </div>


    <a th:href="@{/table-of-invoices}">
        <p id="arrow">&larr;</p>
    </a>

    <div id="button-submit">
        <input id="submit" type=submit value="Create invoice"  th:href="@{/create-invoice}">
    </div>
</div>
</form>
</body>
</html>