<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>InvoiceDB</title>
    <link th:href="@{/css/mainStyles.css}" rel="stylesheet">
</head>
<body>

<div id="header">Welcome in InvoiceDB!</div>

<div id="container">

    <div class="buttons"><a th:href="@{/login}">Login</a></div>
    <div class="buttons"><a th:href="@{/registration}">Create account</a></div>

</div>

</body>
</html>