<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>InvoiceDB</title>
    <link th:href="@{/css/mainStyles.css}" rel="stylesheet">
</head>
<body>

<div id="header">Login</div>

<form th:action="@{/login-into-acc}" method="post" th:object="${newUser}">
<div id="container">

    <div id="login" class="form">

        <label>Login</label>
        <input type="text" th:field="*{login}"/>

    </div>

    <div id="password" class="form">

        <label>Password</label>
        <input type="password" th:field="*{password}"/>

    </div>

    <div id="button-submit" class="form">
        <input id="submit" type="submit" value="Login" th:href="@{/login-into-acc}"/>
    </div>

    <a th:href="@{/}">
        <p id="arrow">&larr;</p>
    </a>

</div>
    <p class="error" th:if="${errorMessage}"  th:text="${errorMessage}">Error</p>
</form>
</body>
</html>