<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>InvoiceDB</title>
    <link th:href="@{/css/mainStyles.css}" rel="stylesheet">
</head>
<body>

<div id="header">Registration</div>


<form th:action="@{/create-account}" method="post" th:object="${newUser}">
<div id="container">

    <div id="login" class="form-registration">

        <label>Login</label>
        <input type="text" th:field="*{login}"/>

    </div>

    <div id="password" class="form-registration">

        <label>Password</label>
        <input type="password" th:field="*{password}"/>

    </div>

    <div id="password-repeat" class="form-registration">

        <label>Repeat password</label>
        <input type="password" th:field="*{repeatedPassword}" />

    </div>



    <div id="email" class="form-registration">

        <label>email</label>
        <input type="email" th:field="*{email}"/>

    </div>

    <div id="button-submit" class="form-registration">
        <input id="submit"
               type=submit
               value="Create account"
               th:href="@{/create-account}">
    </div>

    <a th:href="@{/}">
        <p id="arrow">&larr;</p>
    </a>


</div>

    <p class="error" th:if="${errorMessage}" th:text="${errorMessage}">Error</p>
</form>

</body>
</html>