<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="viewport">

    <link th:href="@{/css/invoicesStyles.css}" rel="stylesheet">

    <title>InvoiceDB</title>

</head>
<body>

<div id="header">Table of Invoices</div>

<div id="container">
    <table>

        <tr>
            <th>Date</th>
            <th>Invoice number</th>
            <th>Contractor</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Payment time</th>
            <th>Action</th>
        </tr>

        <tr th:each="invoice : ${invoicesList}">
            <td th:text="${invoice.date}"></td>
            <td th:text="${invoice.invoiceNumber}"></td>
            <td th:text="${invoice.contractor}"></td>
            <td th:text="${invoice.description}"></td>
            <td th:text="${invoice.amount}"></td>
            <td th:text="${invoice.paymentTime}"></td>

            <td><a th:href="@{'/delete/' + ${invoice.contractor}}">
                <input type="submit" value="delete">
            </a></td>
        </tr>

    </table>

    <div id="buttonContainer">

        <div class="buttons">

            <a th:href="@{/create-invoice-menu}">
            <input type="submit" value="Add new invoice" />
            </a>

        </div>

        <div class="buttons">

            <a th:href="@{/}">
            <input type="submit" value="Exit"/>
            </a>

        </div>

    </div>

</div>
</body>
</html>